// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*http://stackoverflow.com/questions/23026250/is-it-possible-to-use-if-statement-in-bootstraps-different-screen-size*/

@media screen and (min-width: 480px) {
  
  .thumbnail {        
    width: 350px; 
    height: 450px;
    overflow: auto;
    margin-bottom: 40px;
  }

  .movie_title, .movie_release {
    text-align: center;
  }

  .btn-centered {
    text-align: center;
  }

}
